@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
}

@keyframes borderMove {
  0% {
    border-image: linear-gradient(0deg, #fd0866, #8d3cff) 1;
  }

  50% {
    border-image: linear-gradient(180deg, #fd0866, #8d3cff) 1;
  }

  100% {
    border-image: linear-gradient(360deg, #fd0866, #8d3cff) 1;
  }
}

@keyframes borderMoveHover {
  0% {
    border-image: linear-gradient(0deg, #00ffcc, #ffcc00) 1;
  }

  50% {
    border-image: linear-gradient(180deg, #00ffcc, #ffcc00) 1;
  }

  100% {
    border-image: linear-gradient(360deg, #00ffcc, #ffcc00) 1;
  }
}

.animated-border {
  border-width: 3px;
  border-style: solid;
  border-image-slice: 1;
  animation: borderMove 3s linear infinite;
  transition: all 1s ease-in-out;
}

.animated-border:hover {
  animation: borderMoveHover 3s linear infinite;
}

.xterm .xterm-rows {
  transform: translateY(-20px);
}
.xterm {
  position: absolute;
  z-index: -1;
}